.main-grid {
  display: grid;
  grid-template-rows: 3fr 1fr;
  margin: 20px;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  /* width: 100%; */
  min-width: 50px;
  height: 100px;
  /* border: 3px solid rgb(138, 183, 235);
  background-color: blueviolet; */
}
.flexbox-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-column: 5px;
  grid-gap: 10px;
}

.flexbox-item {
  width: 100%;
  min-width: 50px;
  height: 100px;
  /* margin: 5px; */
  border: 3px solid rgb(138, 183, 235);
  background-color: rgb(250, 247, 253);
  /* transform: transition 1s; */
}

.label-1 {
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-family: fantasy;
  color: blueviolet;
}

.slide {
  /* background: white; */
}

.none-display {
  display: none;
}

@keyframes append-animate {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.animate {
  animation: append-animate 1s linear;
}
